[submodule "config/oh-my-zsh"]
	path = config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "config/omz-custom/plugins/zsh-syntax-highlighting"]
	path = config/omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/omz-custom/plugins/zsh-autosuggestions"]
	path = config/omz-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "config/nvim"]
	path = config/nvim
	url = git://git@github.com:UnikMask/UnikVim
[submodule "config/nvim_local/iroh-vim"]
	path = config/nvim_local/iroh-vim
	url = git://git@github.com:UnikMask/iroh-vim
